* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

body {
    background-color: rgb(253, 202, 255);
    max-width: 100vw;
}

#main {
    /* display: flex; */
}

/** navigation menu */

#navbar {
    /* background-color: #7700a7; */
    background: linear-gradient(#7700a7, #1e0027);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    justify-content: center;
}

#logo {
    font-family: "Chelsea Market", system-ui;
    margin-bottom: 0.5rem;
}

#subtitulo {
    font-weight: 300;
}

#nav-menu {
    background-color: #fff;
    display: flex;
    column-gap: 1rem;
    justify-content: end;
    align-items: center;
    margin-bottom: 3rem;
    padding: 0.5rem 0.2rem;
}

#nav-menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
}

#nav-redes {
    display: flex;
    flex-direction: row;
}

.icons {
    width: 2rem;
    height: auto;
    display: block;
    max-width: 2rem;
}

/** Side content **/

#side-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#side-content img {
    max-width: 100%;
    border-radius: 1rem;
    /* padding: 3rem; */
}

/** Artigos **/

.artigo {
    background-color: white;
    display: flex;
    flex-direction: column;

    border-radius: 1rem;
    line-height: 2;
}

.titulo {
    color: #1e0027;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.tagline {
    font-family: "Quintessential", serif;
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #7700a7;
}

.artigo-img {
    border-radius: 1rem;
    margin-bottom: 1rem;
}

/** Media Queries **/

@media (max-width: 576px) {
    #logo {
        font-size: 2rem;
    }

    #subtitulo {
        width: 100vw;
        text-align: center;
        font-size: clamp(0.7rem, 3vw, 1rem);
    }

    #main {
        flex-direction: column;
    }

    #artigos {
        display: flex;
        row-gap: 1rem;
        flex-direction: column;
    }

    .artigo {
        padding: 1rem;
        margin: 0.3rem;
    }

    .titulo {
        font-size: 1.3rem;
    }

    #side-content {
        margin: 0.3rem;
    }

    #artigos img {
        margin: 0.3rem;
        border-radius: 1rem;
    }
}

@media (min-width: 993px) {
    #logo {
        font-size: 3rem;
    }
    #artigos {
        /* align-items: end; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        width: 100%;
        max-width: 75vw;
        margin: 0 auto;
    }

    .artigo {
        /* max-width: 100%; */
        /* margin: 0 1rem; */
        /* max-width: 45%; */
        /* margin-left: 25%; */
        height: auto;
        width: 100%;
        margin: 0;
        padding: 2rem;
    }
    .artigo img {
        max-width: 100%;
    }
    .card {
        max-width: 100%;
        border-radius: 1rem;
    }

    .titulo {
        font-size: 2rem;
    }

    #main {
        justify-content: space-around;
    }

    #side-content {
        /* background-color: blue; */
        width: 30%;
        max-width: 30%;
    }
}

#artigos {
    margin-bottom: 3rem;
}

.lista-artigo {
    list-style: none;
}

.lista-artigo li {
    position: relative;
    padding-left: 32px;
}

.lista-artigo li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    /* top: 6px; */
    width: 1.5rem;
    height: 1.5rem;
    background: url("/assets/img/pata.svg") no-repeat center;
    background-size: contain;
}
